body, #contens_main_erea { font-family: HPSimplified, "MS P ゴシック",sans-serif !important; line-height:1.4; font-size:12px; }
body, td, th{ font-family: HPSimplified, "MS P ゴシック",sans-serif !important; line-height:1.4; font-size:12px; }


/* ---StorTop--- */
.lineupTopBox div {
	width:192px;
	height:250px;
	float:left;
	margin:10px 9px 0 0;
	text-align: center;
}

.lineupTopBox_dpb div {
	width:130px;
	height:180px;
	float:left;
	margin:10px 9px 0 0;
	text-align: center;
}

.lineupTopBox div img ,
.lineupTopBox_dpb div img {
	border-style:none;
}

.lineupTopBox div a , .lineupTopBox a,
.lineupTopBox_dpb div a , .lineupTopBox_dpb a {
	float: left;
	overflow: hidden;
	text-decoration: none;
}

.lineupTopBox div a:hover {
	border: solid 2px #0096d6;
	height:240px;
}
.lineupTopBox_dpb div a:hover {
	border: solid 2px #0096d6;
	height:170px;
}

.lineupTopBox div a:hover,
.lineupTopBox_dpb div a:hover {
	margin: -2px;
}

.txtIndent{
	padding:0;
}

.lineupTopBox div .txt15_007DBA ,
.lineupTopBox_dpb div .txt15_007DBA {
	font-size:16px;
}


/* ---topics--- */
.topicsBox{
	width:230px;
	height:80px;
	float:left;
	margin:0 0 20px;
	padding:0 9px 0 9px;
	background:#FFFFFF;
	border-right:1px #CCCCCC solid;
}

/* ---slideBanner--- */

#topBanner .ui-tabs-hide{
	display:none;
}

#topBanner .ui-tabs-panel{
	position:absolute; top:0; left:0;
	width: 745px;
}

#topBanner ul.ui-tabs-nav{
	position:absolute; top:0; right:0;
	width:255px;
	overflow:hidden;
	margin:0;
	padding:0;
}

#topBanner ul.ui-tabs-nav li{
	list-style-type:none;
	margin-left:12px;
	margin:0;
	padding:0;
}

#topBanner ul.ui-tabs-nav li div{
	border:solid 1px #CCCCCC;
	width:212px;
	height:50px;
	margin:0 0 4px 11px;
	padding:10px;
}

#topBanner ul.ui-tabs-nav li.ui-tabs-selected{
	background:url("/directplus_ent/personal/system/common_img/ui-tabs-arrow.gif") left top no-repeat;
}

#topBanner ul.ui-tabs-nav li.ui-tabs-selected div{
	border:solid 2px #0095d6;
	margin-left:10px;
	padding:9px 9px 9px 10px;
}

#topBanner_box{
	min-height:300px;
	overflow:hidden;
	position:relative;
	width:1000px;
	z-index:0;
}

#topBanner_box .menuNavi{
	float:right;
	margin:0;
	width:255px;
}

#topBanner_box .pro_detail_catch{
	color: #0066FF;
	font-size: 21px;
	font-weight: bold;
	line-height:120%;
}

#topBanner_box .pro_detail_name{
	font-size: 17px;
	font-weight:bold;
}

.ui-tabs-nav-item a{
	color: #0096D6 !important;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
	text-decoration: none;
}

.ui-tabs-nav-item a:hover {
	color: #007DBA !important;
	text-decoration: none;
}

.ui-tabs-nav-item span{
	font-size: 11px;
}

.other_cambox {
	margin: 10px 0;
	padding: 10px 5px;
}

.other_cambox p {
	letter-spacing: 1px;
	margin: 0 0 10px;
	padding-left: 70px;
}

.txtLink_007DBA a{
	color: #0096D6 !important;
	line-height: 17px;
	text-decoration: none;
}

.txtLink_007DBA a:hover{
	color: #007DBA !important;
	text-decoration: none;
}


/* ---tab--- */
.tab_list{
	width:980px;
	height:46px;
	background:url("/directplus_ent/system/common_img/tab2_back.gif") repeat-x top left;
	overflow:hidden;
	padding:0 0 0 20px;
	margin:0;
}

.tab_list li{
	padding:0;
	margin:0;
	float:left;
	list-style-type:none;
	cursor:pointer;
	height:46px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:left top;
}


#tab_model{
	width:147px;
	background-image:url("/directplus_ent/system/common_img/tab6_model.gif");
}

#tab_chara{
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_features.gif");
}


#tab_detail{
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_view.gif");
}

#tab_option{
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_options.gif");
}

#tab_appearance{
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_appearance.gif");
}

#tab_internaldetails{
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_internaldetails.gif");
}

#tab_software{
	width:120px;
	background-image:url("/directplus_ent/system/common_img/tab6_software.gif");
}


#tab_chara_comm {
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_features_comm.gif");
}
#tab_chara_se {
	width:147px;
	background-image:url("/directplus_ent/system/common_img/tab6_features_se.gif");
}

#tab_tokyo {
	width:100px;
	background-image:url("/directplus_ent/system/common_img/tab6_tokyo.gif");
}


/*
#tab_service {
	background-image:url("/directplus_ent/system/common_img/tab6_service.gif");
}
*/

#tab_model.now{
background-image:url("/directplus_ent/system/common_img/tab6_model_now.gif");
}

#tab_chara.now{
background-image:url("/directplus_ent/system/common_img/tab6_features_now.gif");
}

#tab_detail.now{
background-image:url("/directplus_ent/system/common_img/tab6_view_now.gif");
}

#tab_option.now{
	background-image:url("/directplus_ent/system/common_img/tab6_options_now.gif");
}

#tab_appearance.now{
	background-image:url("/directplus_ent/system/common_img/tab6_appearance_now.gif");
}

#tab_internaldetails.now{
	background-image:url("/directplus_ent/system/common_img/tab6_internaldetails_now.gif");
}

#tab_software.now{
	background-image:url("/directplus_ent/system/common_img/tab6_software_now.gif");
}
/*
#tab_service.now{
	background-image:url("/directplus_ent/system/common_img/tab6_service_now.gif");
}
*/

#tab_chara_se.now {
background-image:url("/directplus_ent/system/common_img/tab6_features_se_now.gif");
}

#tab_chara_comm.now {
background-image:url("/directplus_ent/system/common_img/tab6_features_comm_now.gif");
}

#tab_tokyo.now {
background-image:url("/directplus_ent/system/common_img/tab6_tokyo_now.gif");
}


/* ---slide--- */

#featured ul.ui-tabs-nav li.ui-tabs-selected a{
	border-bottom:#0066FF 2px solid;
}
#featured .ui-tabs-hide{
	display:none;
}

#featured .ui-tabs-panel{
	position:absolute; top:0; left:50px;
	width: 365px;
}

#featured ul.ui-tabs-nav{
	width:370px;
	overflow:hidden;
	margin:10px 0 0;
	padding:0;
}

#featured ul.ui-tabs-nav li{
	float:left;
	list-style-type:none;
	margin:0 5px 3px 0;
	padding:0;
}

#main_slide_box{
	min-height:400px;
	overflow:hidden;
	position:relative;
	width:1000px;
	z-index:0;
}

#main_slide_box td a{
	font-size: 10px!important;
	letter-spacing: 1px;
}
#main_slide_box td{
	font-size: 10px!important;
	letter-spacing: 1px;
}

#main_slide_box .product_detail{
	float: right;
	margin:20px 0;
	width: 480px;
}

#main_slide_box .pro_detail_catch{
	color: #0096d6;
	font-size: 21px;
	font-weight: bold;
	line-height:120%;
}

#main_slide_box .pro_detail_name{
	font-size: 17px;
	font-weight:bold;
}

/**201503 add**/
#main_slide_box .hd_price_txt {
	color: #eb5f01;
    font-weight: bold;
}
#main_slide_box .hd_price_txt .hd_price{
	font-family: HPSimplified;
	font-size: 2em;
	letter-spacing: 0.5px;
	margin-right:3px;
}

#main_slide_box .hd_icon6_box {
	border:1px #CCCCCC dotted;
	color:#0096d6;
	overflow:hidden;
	padding:8px 10px;
	width:458px;
}
#main_slide_box .hd_icon6_box .hd_icon6_f {
	float:left;
	margin:0 2px 0 2px;
	text-align: center;
	width:74px;
}
#main_slide_box .hd_icon6_box .hd_icon6 {
	float:left;
	margin-right:2px;
	text-align: center;
	width:74px;
}

/** **/




/* ---model_lineup--- */
.model_lineup_box{
	width:1000px;
	overflow:hidden;
}
.model_lineup_boxtitle{
	float: left;
	margin-right: 11px;
	width:75px;
}

.lineup_clumn{
	width:220px;
	float:left;
	margin-right:9px;
}


.lineup_clumn .detal_area{
	background:#F2F2F2;
	border-right: 1px #99CCFF dotted; /*150129 add*/
	border-bottom: 1px #99CCFF dotted; /*150129 add*/
	height:100%;
	
}

.lineup_clumn .detal_area_txt{
	color:#007DBA;
	font-size:12px;
	font-weight: bold;
	line-height:1.4;
	padding:5px 10px 1px;
	vertical-align: top;
	width:196px;
}


.lineup_clumn .detal_area_corner{
	height: 2px!important;
}


.lineup_clumn ul.spec_list{
	margin:10px 0 0;
	padding:0;
}

.lineup_clumn ul.spec_list li{
	padding:2px 10px 7px;
	margin:0 0 5px 0;
	border-bottom:#CCCCCC 1px dotted;
	list-style-type:none;
}



.rs_mdlname { font-size:13px!important; }
.rs_txtc_org {
	color:#EB5F01;
	font-weight: bold;
}
.rs_ftitle {
	font-size:17px !important;
	line-height:21px !important;
	margin-bottom: 10px !important;
}



/* --- Model Option accordion --- */

#accordion_op dl{
	width:1000px;
}


#accordion_op dl dt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f2f2f2;
    border-top:1px #CCC solid;
    border-left:5px #99CCFF solid;
    border-right:5px #99CCFF solid;
    color: #0096d6;
    font-size: large;
    font-weight: bold;
    height: 35px;
    line-height: 37px;
    text-indent: 2em;
}

#accordion_op dl dt:hover{
    background: none repeat scroll 0 0 #e2e2e2;
}

#accordion_op dl dd{
	margin:0;
	height:auto;
	background:#ffffff;
	padding:10px 10px 20px;
}


.tab_op_area {
	background:url("/directplus_ent/personal/system/common_img/option_backline.gif") 0 0 repeat;
	height:auto;
	margin:0;
	width:980px;
}
.tab_opBox {
	border-bottom:1px #CCC solid;
	overflow:hidden;
	padding:15px 0;
	width:100%;
}
.tab_opBox2colum {
	float: left;
	line-height:1.4;
	width:470px;
}
.tab_opBoxL {
	float: left;
	line-height:1.4;
	width:470px;
}
.tab_opBoxR {
	float: left;
	line-height:1.4;
	margin-left:30px;
	width:470px;
}


/* ---Link BTN --- */
.mg_top5 { margin-top: 5px; }
.mg_top10 { margin-top: 10px; }
.mg_btm5 { margin-bottom: 5px; }
.mg_btm10 { margin-bottom: 10px; }
.bkgc_e7e7e7 { background-color:#E7E7E7; }
.bkgc_ccee66 { background-color:#CCEE66;}
.bkgc_ctob { background-color:#f8fbff; }
.bkgc_ctoy { background-color:#fffdf5; }
.bkgc_ctor { background-color:#fef9f9; }
.ds_inl { display: inline; margin:0 5px; }
.ds_inlbk_w150 { display: inline-block; margin:0 5px; width:150px !important; }

.mrk_cam {
	background: url('/directplus_ent/personal/system/common_img/txtlinkicon_lieft_cam.gif') no-repeat scroll 0px 1px transparent;
}
.mrk_newpro {
	background: url('/directplus_ent/personal/system/common_img/txtlinkicon_lieft_newpro.gif') no-repeat scroll 0px 1px transparent;
}
.mrk_info {
	background: url('/directplus_ent/personal/system/common_img/txtlinkicon_lieft_info.gif') no-repeat scroll 0px 1px transparent;
}


/* btn007DBA */
.btn007DBA_big {
	background:none repeat scroll 0 0 #007DBA;
	border:medium none;
	color:#FFFFFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none;
	padding:5px 8px;
	width: auto;
}

.btn007DBA_big input{
	color: #FFFFFF;
	border:none;
	font-size: 16px;
	font-weight: bold;
	letter-spacing:1px;
	line-height: 19px;
	background:none;
	width:auto;
	cursor: pointer;
	border-radius:0 4px;
}

.btn007DBA_big a{
	background:none;
	color: #FFFFFF !important;
	cursor: pointer;
	font-weight:bold;
	line-height:23px;
	letter-spacing:1px !important;
	padding:5px 15px !important;
	text-decoration: none !important;
	width:auto;
}

.btn007DBA_big:visited { color: #FFFFFF !important; }
.btn007DBA_big:hover { background: none repeat scroll 0 0 #006699; color: #FFFFFF !important; text-decoration: none; }


.btn007DBA_small {
	background:none repeat scroll 0 0 #007DBA;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none;
	width:auto;
	padding:3px 6px;
}

.btn007DBA_small input{
	color: #FFFFFF;
	border:none;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	border-radius:0 4px;
}

.btn007DBA_small a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:3px 10px !important;
}
.btn007DBA_small:visited { color: #FFFFFF; }
.btn007DBA_small:hover { background: none repeat scroll 0 0 #006699; color: #FFFFFF; text-decoration: none; }



.btn007DBA_normal {
	background:none repeat scroll 0 0 #007DBA;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF;
	line-height:1.3;
	letter-spacing: 1px;
	text-align:center;
	text-decoration: none;
	width:auto;
	padding:4px 7px;
}

.btn007DBA_normal input{
	color: #FFFFFF;
	border:none;
	font-weight:bold;
	line-height:1.3;
	letter-spacing: 1px;
	background:none;
	width:auto;
	cursor: pointer;
}

.btn007DBA_normal a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:4px 10px !important;
}
.btn007DBA_normal:visited { color: #FFFFFF; }
.btn007DBA_normal:hover { background: none repeat scroll 0 0 #006699; color: #FFFFFF; text-decoration: none; }


/* btnD7410B */

.btnD7410B_big {
	background:none repeat scroll 0 0 #D7410B;
	border:medium none;
	color:#FFFFFF !important;
	font-size:16px;
	font-weight:bold;
	line-height: 19px;
	letter-spacing:1px;
	padding:5px 8px;
	text-align:center;
	text-decoration: none;
	width: auto;
}

.btnD7410B_big input{
	color: #FFFFFF;
	border:none;
	background:none;
	border-radius:0 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight:bold;
	letter-spacing: 1px;
	line-height: 19px;
	width:auto;
}
.btnD7410B_big a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:21px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:5px 15px !important;
}

.btnD7410B_big:visited { color: #FFFFFF !important; }
.btnD7410B_big:hover { background: none repeat scroll 0 0 #B62109; color: #FFFFFF !important; text-decoration: none !important; }


.btnD7410B_small {
	background:none repeat scroll 0 0 #D7410B;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-size:10px;
	font-weight:bold;
	line-height: 13px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none !important;
	width:auto;
	padding:3px 6px;
}

.btnD7410B_small input{
	color: #FFFFFF;
	border:none;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}
.btnD7410B_small a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:3px 10px !important;
}

.btnD7410B_small:visited { color: #FFFFFF !important; }
.btnD7410B_small:hover { background: none repeat scroll 0 0 #B62109; color: #FFFFFF !important; text-decoration: none !important; }


.btnD7410B_normal {
	background:none repeat scroll 0 0 #D7410B;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-weight:bold;
	text-align:center;
	text-decoration: none !important;
	line-height:1.4;
	letter-spacing:1px;
	width:auto;
	padding:4px 7px;
}

.btnD7410B_normal input{
	color: #FFFFFF;
	border:none;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}

.btnD7410B_normal a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:4px 10px !important;
}

.btnD7410B_normal:visited { color: #FFFFFF !important; }
.btnD7410B_normal:hover { background: none repeat scroll 0 0 #B62109; color: #FFFFFF !important; text-decoration: none !important; }


/* btn5A5A5A */

.btn5A5A5A_big {
	background:none repeat scroll 0 0 #5A5A5A;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-size:16px;
	font-weight:bold;
	line-height:19px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none !important;
	padding:5px 8px;
	width:auto;
}

.btn5A5A5A_big input{
	border:none;
	background:none;
	color: #FFFFFF !important;
	cursor: pointer;
	font-size:16px;
	font-weight:bold;
	line-height:19px;
	letter-spacing:1px;
	text-decoration: none !important;
	width:auto;
}

.btn5A5A5A_big a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:21px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:5px 10px !important;
}

.btn5A5A5A_big:visited { color: #FFFFFF !important; }
.btn5A5A5A_big:hover { background: none repeat scroll 0 0 #3A3A3A; color: #FFFFFF !important; text-decoration: none !important; }


.btn5A5A5A_small {
	background:none repeat scroll 0 0 #5A5A5A;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none !important;
	width:auto;
	padding:3px 6px;
}

.btn5A5A5A_small input{
	color: #FFFFFF;
	border:none;
	font-size: 10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}

.btn5A5A5A_small a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:3px 10px !important;
}

.btn5A5A5A_small:visited { color: #FFFFFF !important; }
.btn5A5A5A_small:hover { background: none repeat scroll 0 0 #3A3A3A; color: #FFFFFF !important; text-decoration: none !important; }


.btn5A5A5A_normal {
	background:none repeat scroll 0 0 #5A5A5A;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-weight:bold;
	line-height:1.3;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none !important;
	padding:4px 7px;
	width:auto;
}

.btn5A5A5A_normal input{
	color: #FFFFFF !important;
	border:none;
	font-weight:bold;
	line-height:1.3;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}

.btn5A5A5A_normal a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:4px 10px !important;
}

.btn5A5A5A_normal:visited { color: #FFFFFF !important; }
.btn5A5A5A_normal:hover { background: none repeat scroll 0 0 #3A3A3A; color: #FFFFFF !important; text-decoration: none !important; }




/* btn4FAF00 */

.btn4FAF00_big {
	background:none repeat scroll 0 0 #4FAF00;
	border:medium none;
	color:#FFFFFF !important;
	font-size:16px;
	font-weight:bold;
	line-height: 19px;
	letter-spacing:1px;
	padding:5px 8px;
	text-align:center;
	text-decoration: none;
	width: auto;
}

.btn4FAF00_big input{
	color: #FFFFFF;
	border:none;
	background:none;
	border-radius:0 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight:bold;
	letter-spacing: 1px;
	line-height: 19px;
	width:auto;
}
.btn4FAF00_big a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:21px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:5px 15px !important;
}

.btn4FAF00_big:visited { color: #FFFFFF !important; }
.btn4FAF00_big:hover { background: none repeat scroll 0 0 #4aa301; color: #FFFFFF !important; text-decoration: none !important; }


.btn4FAF00_small {
	background:none repeat scroll 0 0 #4FAF00;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-size:10px;
	font-weight:bold;
	line-height: 13px;
	letter-spacing:1px;
	text-align:center;
	text-decoration: none !important;
	width:auto;
	padding:3px 6px;
}

.btn4FAF00_small input{
	color: #FFFFFF;
	border:none;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}
.btn4FAF00_small a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:3px 10px !important;
}

.btn4FAF00_small:visited { color: #FFFFFF !important; }
.btn4FAF00_small:hover { background: none repeat scroll 0 0 #4aa301; color: #FFFFFF !important; text-decoration: none !important; }


.btn4FAF00_normal {
	background:none repeat scroll 0 0 #4FAF00;
	border:medium none;
	border-radius:0 4px;
	color:#FFFFFF !important;
	font-weight:bold;
	text-align:center;
	text-decoration: none !important;
	line-height:1.4;
	letter-spacing:1px;
	width:auto;
	padding:4px 7px;
}

.btn4FAF00_normal input{
	color: #FFFFFF;
	border:none;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
}

.btn4FAF00_normal a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight:bold;
	line-height:1.4;
	letter-spacing:1px;
	background:none;
	width:auto;
	cursor: pointer;
	padding:4px 10px !important;
}

.btn4FAF00_normal:visited { color: #FFFFFF !important; }
.btn4FAF00_normal:hover { background: none repeat scroll 0 0 #4aa301; color: #FFFFFF !important; text-decoration: none !important; }









.txt15_007DBA {
    border: medium none;
    border-radius: 0 3px;
    color: #0096D6 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    margin:3px 10px 0;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.txt15_007DBA :hover{
    color: #007DBA !important;
    text-decoration: none;
}
.txt15_007DBA :visited{
    color: #0096D6 !important;
}

.txt_007DBA {
    border: medium none;
    border-radius: 0 3px;
    color: #0096D6 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 17px;
    margin:3px 10px 0;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.txt_007DBA:hover {
    color: #007DBA !important;
    text-decoration: none;
}
.txt_007DBA:visited {
    color: #0096D6 !important;
}

/* 20150303 add */
.tab_txt_linkclr {
    border: medium none;
    border-radius: 0 3px;
    color: #999999 !important;
    cursor: pointer;
    display: inline-block;
    line-height: 1.4 !important;
    margin: 0;
    text-decoration: none;
    width: auto;
}
.tab_txt_linkclr:hover {
    color: #007DBA !important;
    text-decoration: none;
}
.tab_txt_linkclr:visited {
    color: #999999 !important;
}
/** **/


/** Carousel **/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
	width: 800px;
}

.prod-counter {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
    width: 84px;
    z-index: 5;
}
.prod-counter span.counter-showing {
    display: block;
}
.prod-counter span {
    color: #000000;
    font-size: 11px;
}
/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
	width: 708px;
}

.jcarousel ul.carousel_list_cover {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li.carousel_list {
    float: left;
    width: 235px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    height: 30px;
	background:url("/directplus_ent/personal/system/common_img/mod-carousel-arrows.png") left top no-repeat;
    display: inline-block;
    height: 36px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    width: 36px;
}
.jcarousel-control-prev{
    background-position: left bottom;
}
.jcarousel-control-next{
    background-position: right bottom;
}
.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive{
background-position: left top;
}

.jcarousel-control-next.inactive{
background-position: right top;
}


pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}

/** Campaign **/
.camLineupTitle {
	background-color: #0096D6;
	background-image: url('/directplus_ent/personal/system/common_img/bgcolor_0096d6.gif');
	color: #FFFFFF;
	font-size:14px;
	font-weight: bold;
	line-height:23px;
	margin: 0 0 10px;
	padding: 4px 10px 5px;
}
.camLineupTitle_sub {
	color:#0096D6;
	font-size:16px;
	font-weight: bold;
	line-height: 21px;
}
.camSpaceList {
	line-height:18px;
	list-style: none outside url('/directplus_ent/personal/system/common_img/dot0096D6_11x11.gif');
	margin-top:0;
	margin-bottom:0;
	margin-left:10px;
	padding-left:10px;
}











/* margin
-------------------------*/
.m00 { margin:  0px !important; }
.m05 { margin:  5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }
.m35 { margin: 35px !important; }
.m40 { margin: 40px !important; }
.m45 { margin: 45px !important; }
.m50 { margin: 50px !important; }
.m55 { margin: 55px !important; }
.m60 { margin: 60px !important; }
.m65 { margin: 65px !important; }
.m70 { margin: 70px !important; }
.m75 { margin: 75px !important; }
.m80 { margin: 80px !important; }

.mt00 { margin-top:  0px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }

.mb00 { margin-bottom:  0px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb07 { margin-bottom:  7px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }

.mr00 { margin-right:  0px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }

.ml00 { margin-left:  0px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 70px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }


/* padding
-------------------------*/
.p00 { padding:  0px !important; }
.p05 { padding:  5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }
.p35 { padding: 35px !important; }
.p40 { padding: 40px !important; }
.p45 { padding: 45px !important; }
.p50 { padding: 50px !important; }
.p55 { padding: 55px !important; }
.p60 { padding: 60px !important; }
.p65 { padding: 65px !important; }
.p70 { padding: 70px !important; }
.p75 { padding: 75px !important; }
.p80 { padding: 80px !important; }

.pt00 { padding-top:  0px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }

.pb00 { padding-bottom:  0px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }

.pr00 { padding-right:  0px !important; }
.pr05 { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }

.pl00 { padding-left:  0px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }


.fs09 {font-size:9px !important;}
.fs10 {font-size:10px !important;}
.fs11 {font-size:11px !important;}
.fs12 {font-size:12px !important;}
.fs13 {font-size:13px !important;}
.fs14 {font-size:14px !important;}
.fs15 {font-size:15px !important;}
.fs16 {font-size:16px !important;}
.fs17 {font-size:17px !important;}
.fs18 {font-size:18px !important;}
.fs19 {font-size:19px !important;}
.fs20 {font-size:20px !important;}
.fs21 {font-size:21px !important;}
.fs22 {font-size:22px !important;}
.fs23 {font-size:23px !important;}
.fs24 {font-size:24px !important;}
.fs25 {font-size:25px !important;}



#pgtitle_area {
	margin:0 auto 20px;
	padding:0;
	width:1000px;
	clear:both;
}
#pgtitle_area .pgtitle {
	float:left;
	padding:0 0 5px 12px;
	width:770px;
}
#pgtitle_area .pgtitle h1{
	line-height:1.4;
	font-size:21px;
	font-weight:bold;
	margin:2px 0;
}
#pgtitle_area .n_mda {
	float:right;
	margin-top:5px;
	margin-right:10px;
	text-align: right;
	width:200px;
}


.headerEpsilon { color:#0096d6!important; }
.headerGamma { color:#0096d6!important; }
